<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Model</th>
        <th scope="col">Series</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cars: ${cars}">
        <td th:text="${cars.getId()}">
        <td th:text="${cars.getModel()}">
        <th th:text="${cars.getSeries()}">
    </th>
    </tbody>
</table>
</body>
</html>